* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}
#main, #root {
    width: 75vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #acacac;
    box-shadow: 0 0 5px #008080;
    margin: 50px auto;
    position: relative; 
    padding: 40px;
    line-height: 25px;
    text-align: center;
}
#main.single-type {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

#main h1 {
    margin: 20px 0 50px;
    text-align: center;
    display: block;
    width: 100%;
}
#main h5 {
    text-decoration: underline;
}
#main p,
#main li {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 22px;
}

#main a {
    color:#008080;
    text-decoration: none;
}
#main i {
    color:#2210c0;
}
#main a:hover {
    color:#099654;
}
#main code {
    padding: 7px;
    margin: 8px 0;
    white-space: pre;
    line-height: 27px;
    border-radius: 15px;
    padding-right: 50px;
    display: inline-block;
    background-color: #d5d5d561;
    box-shadow: 5px 5px 20px #dadada;
    transition: box-shadow 0.2s ease-in-out;
}
#main code:hover {
    box-shadow: 0px 0px 20px #dadada;
}
#main p#help_info {
    font-size: 15px;
    font-style: italic;
}

#main button {
    color:#ffffff;
    margin: 5px 0;
    padding:10px 25px;
    text-transform: uppercase;
    background-color: #008080;
    border: 1px solid #008080;
    border-radius:  5px;
    transition: all 0.5s;
}

#main button:hover {
    padding:10px 25px;
    color:#008080;
    background-color: #ffffff;
    border: 1px solid #008080;
}

#root ul, 
#root li {
    width: 100%;
    text-align: left;
    font-size: 16px;
}
#root li {
    padding: 20px 0;
    border-bottom: 2px dashed #ccc;
}
#root li span {
    color: #008080;
    font-style: italic;
}
.console {
    font-weight: 400;
    color:#099654;
    margin-bottom: 0 !important;
}

#main .sub-list {
    margin-left: 1rem;
}
#main .sub-list li:not(:last-of-type) {
    border-bottom: 1px solid #dadada;
    padding: 2rem 0;
}
#main .sub-list p {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 20px;
}
#main .sub-list span {
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: inline-block;
}